@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .glass-card {
    @apply backdrop-blur-xl bg-white/5 border border-white/10 rounded-lg;
  }
}
